@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: theme("colors.surface.1");
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.surface.3");
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3a3a4a;
  }
}
